.landing {
  max-width: 500px;
  margin: auto;

}

#title {
  margin-bottom: 20px;

  h1 {
    margin: 0;
    line-height: 100%;
  }

  .subh1 {
    position: relative;
    top: -.4rem;

    font-style: italic;
    color: orangered;
  }
}


#formPlayerName {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr auto;


  .displayPlayerName {
    padding: 0.5rem 1rem;
  }

  #btnEditPlayerName {
    color:inherit;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: initial;
    height: initial;
  }
}

#formJoinGame {
}
