h1 {
  margin: 0;
}

.subh1 {
  font-style: italic;
  color: orangered;
}

.editPlayerName {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-content: center;


  #displayPlayerName {

  }

  #btnEditPlayerName {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: initial;
    height: initial;
  }
}
