.content {
  width: 90vw;
  min-height: 80vh;
  padding: 60px;
  background-color: hsla(0, 0, 0%, 0.6);
}

h1 {
  margin: 0;
}

.subh1 {
  font-style: italic;
  color: orangered;
}

.landing-controls {
  width: 100%;
  text-align: center;
}

.inputPlayerName {
  margin: 12% auto 2rem;
  font-size: 3rem;

  span, input {
    text-align: center;
  }
  input {
    background-color: hsla(0, 0, 50%, 0.4);
    color:white;
  }

  .btnEditPlayerName {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    margin-left: 1rem;
  }
}

.gameLauncher {
  #inputGameId {
    width: 100%;
    display: none;
    padding: 0.5rem;
    color:white;
    font-size: 1.5rem;
    text-align: center;
    background-color: hsla(0, 0, 50%, 0.4);

  }

  .btnLauncher input {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin: 2rem;
    color: white;

    background-color: hsla(0, 0, 50%, 0.2);
  }

}