/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* Imports */
@import 'reset';
@import 'landing';
@import 'gameboard';
@import 'generic';
@import 'dice';

/* Styles */
body {
  background: black url("../images/bg.jpeg") center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 100%;
  color: white;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

.content {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsl(0, 0%, 100%);

  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);

  padding: 0.7rem;

  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .content {
    width: calc(100vw - 2rem);
    min-height: calc(100vh - 2rem);
  }
}