@import 'reset';
@import 'landing';
@import 'dice';

body {
  background: url("../images/bg.jpg") center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}